@import "src/variables.scss";

.password_reset_overlay {
  position: fixed;
  backdrop-filter: contrast(50%);
  inset: 0;
}

.password_reset {
  width: 375px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  background-color: $color-light-5;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  border: 1px solid rgba(0, 0, 0, 0.5);
}

.password_reset_wrapper {
  padding: 10px;
  display: flex;
  gap: 2em;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}
