@import "src/variables.scss";

.button {
  width: 100%;
  padding: 10px 15px;
  color: $color-light;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  background: none;

  &.default {
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary-2;
    }

    &:active {
      background-color: $color-primary-3;
    }
  }

  &.outlined {
    border: 1px solid $color-primary;
    color: $color-primary;

    &:hover {
      border: 1px solid $color-primary-2;
      color: $color-primary-2;
    }

    &:active {
      border: 1px solid $color-primary-3;
      color: $color-primary-3;
    }
  }
}
